# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\18-NTU-CS-1130\Assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
